<html>
    <head th:replace="fragments/headTag :: headTag">

    </head>
    <body>

        <div class="container">
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>

            <h2>Registration</h2>


            <form th:object="${registration}" action="doSomething.html" th:action="@{/registration/addSubmit.html}" method="get" class="form-horizontal">

                <div th:if="${#fields.hasErrors('*')}" class="error">Errors encountered adding registration</div>

                <fieldset>
                    <div class="cisis"><h3>Participant Information</h3></div>
                    <table class="table table-striped">
                        <input type="hidden"  th:field="${registration.campId}"/> 
                        <tr>
                            <th>Name</th>
                            <td><input type="text"  th:field="${registration.name}"/>  
                                <ul th:if="${#fields.hasErrors('name')}">
                                    <li class="error" th:each="err : ${#fields.errors('name')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Date of birth</th>
                            <td><input  type="text" placeholder="click to show datepicker"  th:field="*{dob}"/>                                
                                <ul th:if="${#fields.hasErrors('dob')}">
                                    <li class="error" th:each="err : ${#fields.errors('dob')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Grade (entering in fall)</th>
                            <td>
                                <select name="gradeCode">
                                    <option value="nothing">None</option>
                                    <option th:each="theType : ${session.Grades}" th:value="${theType.codeValueSequence}" th:text="${theType.englishDescription}">B/G</option>
                                </select>
                                <ul th:if="${#fields.hasErrors('gradeCode')}">
                                    <li class="error">Grade required</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td>
                                <select name="genderCode">
                                    <option value="nothing">None</option>
                                    <option th:each="theType : ${session.GenderTypes}" th:value="${theType.codeValueSequence}" th:text="${theType.englishDescription}">B/G</option>
                                </select>
                                <ul th:if="${#fields.hasErrors('genderCode')}">
                                    <li class="error">Gender code required</li>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <th>School</th>
                            <td><input type="text"  th:field="${registration.school}"/>      
                                <ul th:if="${#fields.hasErrors('school')}">
                                    <li class="error" th:each="err : ${#fields.errors('school')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Mailing address</th>
                            <td><textarea  th:field="${registration.addressId.mailingAddress}"/>                                
                                <ul th:if="${#fields.hasErrors('addressId.mailingAddress')}">
                                    <li class="error" th:each="err : ${#fields.errors('addressId.mailingAddress')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td><input type="text" th:field="${registration.addressId.city}"/>                                
                                <ul th:if="${#fields.hasErrors('addressId.city')}">
                                    <li class="error" th:each="err : ${#fields.errors('addressId.city')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Postal Code</th>
                            <td><input type="text"  th:field="${registration.addressId.postalCode}"/>                                
                                <ul th:if="${#fields.hasErrors('addressId.postalCode')}">
                                    <li class="error" th:each="err : ${#fields.errors('addressId.postalCode')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><input type="email"  th:field="${registration.email}"/>      
                                <ul th:if="${#fields.hasErrors('email')}">
                                    <li class="error" th:each="err : ${#fields.errors('email')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>

                            <th>Medical issues / Allergies</th>
                            <td><textarea  th:field="${registration.otherDescription}"/>                                
                                <ul th:if="${#fields.hasErrors('otherDescription')}">
                                    <li class="error" th:each="err : ${#fields.errors('otherDescription')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td>
                        </tr>
                        </table>
                        <!--                                             <div class="cisis"><h3>Registration Options</h3></div>
                                                                     <table class="table table-striped">
                                                                         <tr>
                                                                             <td><input type="checkbox" value="1" >Week 5 - Sports Theme</input>                               
                                                                             </td>
                                                                         </tr>
                                                                         <tr>
                                                                             <td><input type="checkbox" value="1" >Week 6 - Play Theme</input>                               
                                                                             </td>
                                                                         </tr>
                                                                         <tr>
                                                                             <td><input type="checkbox" value="1" >Week 7 - Music Theme</input>                               
                                                                             </td>
                                                                         </tr>
                                                                         <tr>
                                                                             <td><input type="checkbox" value="1" >PD Day October 21</input>                               
                                                                             </td>
                                                                         </tr>
                                                                         <tr>
                                                                             <td><input type="checkbox" value="1" >PD Day October 22</input>                               
                                                                             </td>
                                                                         </tr>
                                                 
                                                                     </table>
                        -->

                        <div class="cisis"><h3>Parent/Legal Guardian 1</h3></div>
                        <table class="table table-striped">
                            <tr>
                                <th>Name</th>
                                <td><input type="text"  th:field="${registration.contactId1.name}"/>                                
                                    <ul th:if="${#fields.hasErrors('contactId1.name')}">
                                        <li class="error" th:each="err : ${#fields.errors('contactId1.name')}" th:text="${err}">Input is incorrect</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Home Phone</th>
                                <td><input type="tel"  th:field="${registration.contactId1.phoneHome}"/>                                
                                    <ul th:if="${#fields.hasErrors('contactId1.phoneHome')}">
                                        <li class="error" th:each="err : ${#fields.errors('contactId1.phoneHome')}" th:text="${err}">Input is incorrect</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Cell Phone</th>
                                <td><input type="tel"  th:field="${registration.contactId1.phoneCell}"/>                                
                                    <ul th:if="${#fields.hasErrors('contactId1.phoneCell')}">
                                        <li class="error" th:each="err : ${#fields.errors('contactId1.phoneCell')}" th:text="${err}">Input is incorrect</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Work Phone</th>
                                <td><input type="tel"  th:field="${registration.contactId1.phoneWork}"/>                                
                                    <ul th:if="${#fields.hasErrors('contactId1.phoneWork')}">
                                        <li class="error" th:each="err : ${#fields.errors('contactId1.phoneWork')}" th:text="${err}">Input is incorrect</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Mailing Address</th>
                                <td><textarea  th:field="${registration.contactId1.mailingAddress}"/>                                
                                    <ul th:if="${#fields.hasErrors('contactId1.mailingAddress')}">
                                        <li class="error" th:each="err : ${#fields.errors('contactId1.mailingAddress')}" th:text="${err}">Input is incorrect</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>

                        <div class="cisis"><h3>Parent/Legal Guardian 2</h3></div>
                        <table class="table table-striped">
                            <tr>
                                <th>Name</th>
                                <td><input type="text"  th:field="${registration.contactId2.name}"/>                                
                                    <ul th:if="${#fields.hasErrors('contactId2.name')}">
                                        <li class="error" th:each="err : ${#fields.errors('contactId2.name')}" th:text="${err}">Input is incorrect</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Home Phone</th>
                                <td><input type="tel"  th:field="${registration.contactId2.phoneHome}"/>                                
                                    <ul th:if="${#fields.hasErrors('contactId2.phoneHome')}">
                                        <li class="error" th:each="err : ${#fields.errors('contactId2.phoneHome')}" th:text="${err}">Input is incorrect</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Cell Phone</th>
                                <td><input type="tel"  th:field="${registration.contactId2.phoneCell}"/>                                
                                    <ul th:if="${#fields.hasErrors('contactId2.phoneCell')}">
                                        <li class="error" th:each="err : ${#fields.errors('contactId2.phoneCell')}" th:text="${err}">Input is incorrect</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Work Phone</th>
                                <td><input type="tel"  th:field="${registration.contactId2.phoneWork}"/>                                
                                    <ul th:if="${#fields.hasErrors('contactId2.phoneWork')}">
                                        <li class="error" th:each="err : ${#fields.errors('contactId2.phoneWork')}" th:text="${err}">Input is incorrect</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Mailing Address</th>
                                <td><textarea  th:field="${registration.contactId2.mailingAddress}"/>                                
                                    <ul th:if="${#fields.hasErrors('contactId2.mailingAddress')}">
                                        <li class="error" th:each="err : ${#fields.errors('contactId2.mailingAddress')}" th:text="${err}">Input is incorrect</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>

<div class="cisis"><h3>Secondary Emergency Contact</h3><h4>Other than parent/legal guardian</h4></div>
                        <table class="table table-striped">
                            <tr>
                                <th>Name</th>
                                <td><input type="text"  th:field="${registration.contactId3.name}"/>                                
                                    <ul th:if="${#fields.hasErrors('contactId3.name')}">
                                        <li class="error" th:each="err : ${#fields.errors('contactId3.name')}" th:text="${err}">Input is incorrect</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Home Phone</th>
                                <td><input type="tel"  th:field="${registration.contactId3.phoneHome}"/>                                
                                    <ul th:if="${#fields.hasErrors('contactId3.phoneHome')}">
                                        <li class="error" th:each="err : ${#fields.errors('contactId3.phoneHome')}" th:text="${err}">Input is incorrect</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Cell Phone</th>
                                <td><input type="tel"  th:field="${registration.contactId3.phoneCell}"/>                                
                                    <ul th:if="${#fields.hasErrors('contactId3.phoneCell')}">
                                        <li class="error" th:each="err : ${#fields.errors('contactId3.phoneCell')}" th:text="${err}">Input is incorrect</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Work Phone</th>
                                <td><input type="tel"  th:field="${registration.contactId3.phoneWork}"/>                                
                                    <ul th:if="${#fields.hasErrors('contactId3.phoneWork')}">
                                        <li class="error" th:each="err : ${#fields.errors('contactId3.phoneWork')}" th:text="${err}">Input is incorrect</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Mailing Address</th>
                                <td><textarea  th:field="${registration.contactId3.mailingAddress}"/>                                
                                    <ul th:if="${#fields.hasErrors('contactId3.mailingAddress')}">
                                        <li class="error" th:each="err : ${#fields.errors('contactId3.mailingAddress')}" th:text="${err}">Input is incorrect</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>


                        
                                                <div class="cisis"><h3>Permission</h3></div>
                                                <table class="table table-striped">
                                                    <tr>
                                                        <td><input type="checkbox" th:value="${registration.permissionLeaveInd}" th:field="${registration.permissionLeaveInd}"/>I give permission for my child to leave the Holland College Prince of Wales Campus on his/her own at
                                                            the conclusion of his/her day                                
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox" th:value="${registration.permissionPhoto}" th:field="${registration.permissionPhoto}"/>I authorize the possible inclusion of my child's photograph in
                                                            Holland College promotional material:  
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox"
                                                                   th:value="${registration.permissionWaiverInd}"
                                                                   th:field="${registration.permissionWaiverInd}"/>WAIVER / RELEASE: I/we hereby give my/our consent and approval to the participation of the
                                                            applicant in the Holland College Summer Camp(s), and certify that he/she is physically fit to take part
                                                            in all activities. Further, I/we do hereby waive, release and forever discharge the Holland College, and
                                                            its staff, from any and all claims of damages occurring from accident, injury to person, or loss of
                                                            personal property during the participant’s stay at camp(s).
                                                        </td>
                                                    </tr>
                                                </table>
                          
                        

                        
                        <div class="cisis"><h3>Refund</h3></div>
                        <div>
                            CANES CAMP REFUND AND CANCELLATION POLICY:
                            Full refunds will be issued if a course is cancelled due to insufficient enrolment.  Requests for refunds or
                            cancellations must be made in writing to the Academy and Camp Coordinator at least seven days prior to the start
                            date of the selected camp.  Holland College needs the name of the participant/selected camp/reason for refund
                            or cancellation.  If a participant cancels before the first class, a full refund less a $10 processing fee will be
                            issued.  No refund will be provided after this time, unless there are extenuating circumstances (i.e. medical or
                            emergency family situation).  Pro‐rated refund is available only for participants who can provide a medical
                            certificate indicating they are not able to continue with the event, or they may choose to roll the registration fee
                            forward to another camp/academy within 12 months from start date of the current event.   
                            The Academy and Camp Coordinator makes the final decision on who qualifies for refunds. Refunds are not
                            granted due to inclement weather or if a parent/guardian withdraws the camper early from the session.
                            Holland College reserves the right to withdraw a camper at any time without refund if the Guidelines for
                            Behaviour and Policies are not followed.
                            I have read and understand the Refund and Cancellation Policy
                        </div>



                </fieldset>
                <div style="text-align: center;" class="form-actions">
                    <button class="btn btn-primary btn-lg" type="submit">Register</button>
                </div>
            </form>

            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
        <script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {

                $('#dob').datepicker({
                    format: "yyyy-mm-dd"
                });

            });
        </script>

    </body>

</html>
